body
{
    margin:0px;
}
#site
{
    display:grid;
    grid-template-areas:
    "navigation navigation"
    "header header"
        "section section"
            "footer footer" ;
}
header
{
    background-color: chartreuse;
    grid-area: header;
    display:flex;
    justify-content: center;
}
header h1
{
    background-color: rgb(42, 157, 165);
    font-weight: 400;
    letter-spacing: 0.5em;
    padding: 1%;
    text-shadow: 1px 1px 1px rgb(14, 10, 10);
}
h2
{
    font-family: sans-serif;
}
nav
{
   
    grid-area: navigation;
    display:flex;
    justify-content: space-between;
    
}
nav a
{  
    text-decoration: none;
    font-size: 20px;
}
nav a:hover
{  
    font-size: 2rem;
}
section
{
    grid-area: section;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
footer
{
    grid-area:footer;
    margin-top: 25%;
    bottom: 0%;
    position: relative;
    width: 100%;
   
}
footer p
{
    margin-top: 15%;
    position:absolute;
    width:100%;
    text-align: center;
    background-color: tomato;
    height:42px;
    
}